#### Unresolve issues:

- There are rows where the raters in domain2 and domain2_scores are Null, it is yet to be resolve
- Should we remove the domain2_scores, if that should be the case we have to remove the domain_prediction in the validation sample
- Should we make the problem regression or classification

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np


# Load the training data
training_data = pd.read_excel('data/training_set_rel3.xls')

# Load the validation data
validation_data = pd.read_excel('data/valid_set.xls')

training_data.head()

In [4]:
from src.pipeline import training_pipeline, validation_pipeline
from src.preprocess import get_average_vector


# Preprocess the training data
preprocessed_training_data = training_pipeline(training_data,get_average_vector, domain_score_imputer_strategy='mean')
preprocessed_training_data.head()

,essay_id,essay_set,essay,domain1_score,domain2_score
0,1,1,"[-0.0018533318, 0.0018306837, 0.0014450253, 0....",8.0,NaN
1,2,1,"[-0.0016639465, 0.0019178969, 0.0011549717, 0....",9.0,NaN
2,3,1,"[-0.0019543157, 0.0019077965, 0.0012039462, 0....",7.0,NaN
3,4,1,"[-0.0017123289, 0.0019363962, 0.0012750842, 0....",10.0,NaN
4,5,1,"[-0.0016557423, 0.0017311055, 0.0010426836, 0....",8.0,NaN

In [ ]:

# Preprocess the validation data
preprocessed_validation_data = validation_pipeline(validation_data,get_average_vector)